* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.timeHeat {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.at {
  font-size: 1rem;
  font-weight: 400;
}

.dishImage {
  
  margin-bottom: 10px;
}

.footer-image {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}